registry "http://artifactory-slc.oraclecorp.com/artifactory/api/npm/npm-virtual"
no_proxy "orahub.oraclecorp.com,artifactory-slc.oraclecorp.com"
puppeteer_download_host "https://artifactory-slc.oraclecorp.com/artifactory"
cache-folder ".yarn-cache"